.form-container {
    display: flex;
    width :40%;
    height : 60%;
    margin : 0 auto;
    margin-top: 150px;
    background-color: #eee;
    border-radius: 10px;
    justify-content: center;
}

.inner-container {
    display: block;
    align-items: center;
    width : 70%;
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}