.primary-link{
    background-color: aliceblue;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav a {
    margin-right: 16px;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}
