.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flexbox-container.wrap{
    flex-wrap: wrap;
}
.post-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 60%;
    margin: 20px 0;
    padding: 20px;
    align-items: center;
    height: 10%;
    border:1px solid #ccc;
   transition: 0.3s ease-in;
}